[submodule "3rd_party/imgui"]
	path = 3rd_party/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "3rd_party/dawn"]
	path = 3rd_party/dawn
	url = https://dawn.googlesource.com/dawn
[submodule "3rd_party/miniaudio"]
	path = 3rd_party/miniaudio
	url = https://github.com/mackron/miniaudio
[submodule "3rd_party/clap"]
	path = 3rd_party/clap
	url = https://github.com/free-audio/clap
[submodule "3rd_party/fmt"]
	path = 3rd_party/fmt
	url = https://github.com/fmtlib/fmt
